* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'segoe UI', Sans-serif;
}
body{
    background: #0d0d0d;
    color: #ffffff;
}
nav {
    display:flex;
    justify-content: space-between;
    padding:20px 50px;
}
nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}