* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: linear-gradient(135deg,#0A192F,#B8860B);
    position: relative
    min-height: 100vh;
}
body ::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
ul {
    display: flex;
    gap: 20px;
    padding-right: 40px;
}
li:last-child {
    margin-left: auto;
}